<a href="https://colab.research.google.com/github/HenriqueCCdA/BC_DS_Projeto1/blob/main/notebooks/Exploratorios/Correcao_monetaria.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



---


#Importação das bibliotecas utilizadas



# 1.   Pandas


---



---

In [ ]:
import pandas as pd



---



---



---



---


# Correção monetaria usando o IPCA e o INPC

**IPCA** : Índice Nacional de Preços ao Consumidor **Amplo**

**INPC** : Índice Nacional de Preços ao Consumidor

A diferença entre eles está no uso do termo “amplo”.

O IPCA engloba uma parcela maior da população. Ele aponta a variação do custo de vida médio de famílias com renda mensal de 1 e 40 salários mínimos.

O INPC verifica a variação do custo de vida médio apenas de famílias com renda mensal de 1 a 5 salários mínimos. Esses grupos são mais sensíveis às variações de preços, pois tendem a gastar todo o seu rendimento em itens básicos, como alimentação, medicamentos, transporte etc.

Fonte do IBGE explicado a diferença do IPCA e INPC

https://bit.ly/3viFjCX


---



---

## Lendo a tabela do IPCA

In [ ]:
uri = "https://raw.githubusercontent.com/HenriqueCCdA/BC_DS_Projeto1/main/Dados/IBGE/ipca.csv"
ipca = pd.read_csv(uri).set_index("ANO/MES")

Lendo a tabela do INPC

In [ ]:
uri = "https://raw.githubusercontent.com/HenriqueCCdA/BC_DS_Projeto1/main/Dados/IBGE/inpc.csv"
inpc = pd.read_csv(uri).set_index("ANO/MES")

In [ ]:
ipca.head()

          NÚMERO ÍNDICE
ANO/MES
1994/JAN         141.31
1994/FEV         198.22
1994/MAR         282.96
1994/ABR         403.73
1994/MAI         581.49

In [ ]:
inpc.head()

          NÚMERO ÍNDICE
ANO/MES
1994/JAN         141.32
1994/FEV         198.65
1994/MAR         284.23
1994/ABR         406.05
1994/MAI         579.56



---



---



---


## Cáculo da correção

Exemplo: **100** Reais em *2008/JAN* equivale **negrito** a quanto em **2020/DEZ** ?

Procedimento do calculo

1.   Ir na tabela obter o valor númerico do **inidice para 2008/JAN** (IPCA = 2746.37) 
2.   Ir na tabela obter o valor númerico do **inidice para 2020/DEZ** (IPCA = 5331.42)
3. Calular o fator de correção que é dado pela **razão** entre o inidice mais recente sobre o indice mais antigo.
4. **Mutiplicar** pelo valor que se quer corrigir. 

$ valor_{novo} = valor_{antigo} \times \frac{IPCA_{novo}}{IPCA_{antigo}}$


---



---

In [ ]:
valor_passado = 100.0

i_passado = ipca.loc["2008/JAN"][0]
i_atual = ipca.loc["2020/DEZ"][0]

valor_novo = valor_passado * (i_atual/i_passado)
print(f"Valor corrigido: {valor_novo}")

Valor corrigido: 202.4705338319309

## Extraindo o calculo para uma função.

In [ ]:
def correcao_monetaria(valor_passado, ipcaOuinpc, data_passada, data_correcao):
  '''
  -------------------------------------------------------------------------
  Name: correcao monetaria
  -------------------------------------------------------------------------
  @param valor_passado: valor na data passa
  @param ipcaOuinpc   : tabela com os indices IPCA ou INPC
  @param data_passada : data passada  ano/mes
  @param data_correcao: data correcao ano/mes
  '''

  i_passado = ipcaOuinpc.loc[data_passada][0]
  i_atual = ipcaOuinpc.loc[data_correcao][0]

  return  round(valor_passado * (i_atual/i_passado), 2)

## Comparando IPCA com INPC

In [ ]:
valor_pelo_ipca = correcao_monetaria(100, ipca, "2008/JAN", "2020/DEZ")
valor_pelo_inpc = correcao_monetaria(100, inpc, "2008/JAN", "2020/DEZ")

print(f"Valor corrigido pelo ICPA: {valor_pelo_ipca}")
print(f"Valor corrigido pelo INPC: {valor_pelo_inpc}")

Valor corrigido pelo ICPA: 202.47
Valor corrigido pelo INPC: 204.27